body {
    margin: 0;
    padding: 0;
    font-family: 'Consolas', Arial, Helvetica, sans-serif;
}

.wrapper {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.money-convert {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 2px 1px 9px  0px black;
    border: 1px solid black;    
}

.money-convert__logo {
    text-align: center;
}


.money-convert__logo span {
    font-size: 30px;
    font-weight: bold;
    vertical-align: middle;
}

.money-convert__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.money-convert__inputs {
    font-weight: bold;
    font-family: 'Consolas', Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: #757575;
    padding: .5em;
    border-radius: 2px;
    border: 1px solid lightgray;
    outline: none;
}

.money-convert__input input {
    margin-left: 10px;
    height: 2em;
    font-style: italic;
}